[Unit]
Description=Start noVNC server at startup
After=syslog.target network.target vncserver.service

[Service]
Type=simple
User=kali
ExecStart=/usr/bin/websockify --web=/usr/share/novnc/ 8081 localhost:5901
Restart=on-failure

[Install]
WantedBy=multi-user.target
