[Unit]
Description=start vnc at boot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start_x11vnc.sh
ExecStop=/usr/bin/killall x11vnc & /usr/bin/killall novnc_proxy
Restart=on-failure
Restart-sec=2

[Install]
WantedBy=multi-user.target
